html, body, #app {
    /*width: 100vw;
    height: 100vh;
    overflow: hidden;*/
}

.text-28 {
    font-size: 28px;
}

.main-page-banner {
    height: 24vh;
    background: url("../assets/images/banner.jpg") no-repeat center center;
    background-size: 100vw 24vh;
}

.main-page-task-container {
    padding-top: 60px;
    display: flex;
    align-items: center;
    flex-direction: column;

    .main-page-task-count-item {
        font-size: 20px;
        margin-bottom: 40px;
        width: 80%;
        height: 60px;
        color: #ffffff;
        border-radius: 6px;
        background-color: var(--nut-primary-color);
        display: flex;
        align-items: center;
        justify-content: space-between;

        .nut-countup {
            color: #ffffff;
        }

        .main-page-task-count {
            flex: 1;
            text-align: center;
        }

        .main-page-task-title {
            width: 120px;
        }
    }
}
