.card-header {
  display: flex;
  align-items: center;
  font-weight: 600;

  .card-header-title {
    margin-left: 8px;
  }

  .card-header-icon {
    color: #345dfc;
    font-size: 16px;
  }
}

.empty-config {
  text-align: center;
  color: #909090;
  padding: 8px;
}

.config-label {
  display:flex;
  width:100%;
  .config-label-content {
    width: 200px;
    //height: 68px;
    padding: 8px;
  }
  .config-label-icon {
    margin-right: 5px;
  }
}

.nut-collapse-item .nut-collapse-item__title {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  overflow: hidden;
  padding: 8px 0px 8px 0px;
  color: #666666;
  font-size: 14px;
  line-height: 24px;
  background-color: #fff;
  box-sizing: border-box;
  flex-direction: row-reverse;
}

.nut-collapse-item .nut-collapse-item__title .nut-collapse-item__title-icon {
  display: flex;
  color: #666666;
  transition: transform .3s;
  margin-right: 8px;
  align-items: baseline;
  padding-top: 9px;
}

.nut-collapse-item .nut-collapse-item__title .nut-collapse-item__title-sub {
  position: absolute;
  top: 50%;
  right: 65px;
  margin-top: -7px;
  color:  #666666;
}

