.my-style{
  width: 100%;
  height: 100%;
  .nut-tab-pane {
    width: 100%;
    flex-shrink: 0;
    display: block;
    position: relative;
    background-color: #f1f1f1;
    padding: 12px;
    box-sizing: border-box;
    overflow: auto;
    height: 100%;
    word-break: break-all;
  }
}

.message-style{
  font-size: 16px;
  color: #808080;
  font-weight: 700;
}

.num-style{
  font-size: 14px;
  font-weight: 700;
  color: #455df9;
  text-align: center;
}

.title-my-style{
  font-size: 14px;
  color: #808080;
  font-weight: 700;
  text-align: left;
}

.head-title-font-style{
  font-size: 16px;
  color: #333333;
  font-weight: 700;
  display: inline-block;
  margin-bottom: 10px;
}

.head-title-weight-style{
  font-size: 20px;
  color: #333333;
  font-weight: 700;
  display: inline-block;
  margin-bottom: 10px;
}

.unRead-border{
  //border: 1px solid #f1f1f1;
  //border-radius: 6px;
  //padding: 8px;
  //margin-bottom: 8px;
}

.list-margin{
  margin-top: 8px;
  margin-bottom: 5px;
  font-size: 16px;
  display: inline-block;
}

.list-border{
  //margin-bottom: 5px;
  margin-top: 5px;
  display: block;
  text-align: right;
  //border: 1px solid #f1f1f1;
}

.list-date{
  color: #808080;
  font-size: 14px;
}

.list-text{
  color: #808080;
  font-size: 14px;
}

.unRead-icon{
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #165dff;
  margin-right: 5px;
}

.message-red{
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  margin-left: 16px;
}

.read-icon{
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #909399;
  margin-right: 5px;
}