.container {
    background: var(--nut-bg-color-page);
    height: calc(100% - 30px);

    .page-title {
        font-size: var(--nut-font-size-4);
        line-height: 2;
        color: var(--nut-help-color);
        font-weight: 700;
        text-align: center;
    }

    .page-select {
        width: 100%;
        height: 100%;
        background: var(--nut-bg-color-overlay);
        font-size: var(--nut-font-size-base);
        line-height: 2.5;
        color: var(--nut-title-color);
        text-align: center;
    }

}

.nut-popup--bottom.round {
    border-radius: 6px;
}
